// COLORS
$primary50: #e4d9fd;
$primary100: #c6affc;
$primary200: #a281f0;
$primary400: #5721d4;
$primary500: #3e04c3;
$primary700: #2d0689;
$primary800: #200364;
$accent300: #fccd3d;
$accent500: #f7bc0c;
$purple300: #ab3176;
$purple500: #9b095c;
$gray100: #d6d4db;
$gray300: #6e6979;
$gray500: #39324a;
$gray700: #221c30;
$white: #ffffff;
$black: #000000;

// MEDIA
$extra-desktop-width: 1440px;
$desktop-width: 1270px;
$under-desktop-width: 940px;
$above-tablets-width: 815px;
$tablets-width: 768px;
$under-tablet-width: 566px;
$above-mobiles-width: 480px;
$mobiles-width: 460px;
$under-mobiles-width: 360px;